<% layout('layout') -%>
</br></br></br></br>
<h1> Users </h1>

<table class="table table-condensed">

              <thead>
                <tr>
                  <th> ID </th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>ZIP</th>
                  <th>Phone</th>
                </tr>
              </thead>


              <tbody>

              <% for (var i=0; i < users.length; i++) { %>
                <tr>
                  <td> <%= users[i]._id %> </td>
                  <td> <%= users[i].name %> </td>
                  <td> <%= users[i].email %> </td>
                  <td> <%= users[i].zip %> </td>
                  <td> <%= users[i].phone %> </td>
                </tr>
              <% } %>



              </tbody>

            </table>